
@{ 
    ViewBag.Title = "Bootstrap with ASP.NET";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /> -->
     <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

<div class="">
     <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        @Html.ActionLink("Home", "", "Index", null, new {@class= "navbar-brand"})
        @Html.ActionLink("Register supplier", "", "Empresa", null, new {@class= "navbar-brand"})
    </nav>
    <div class="container row">
        <div class="col">
            @RenderBody()
        </div>
    </div>
     
</div>


<footer>
    
</footer> 
<script src="lib/jquery/jquery.js"></script> 
<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>