@{ 
    ViewBag.Title = "Bootstrap with ASP.NET";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /> -->
     <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

   @RenderBody()



    <script src="lib/jquery/jquery.js"></script> 
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<footer>
    Get my dick mother fuck...
</footer>
</body>
</html>