@{ 
    ViewBag.Title = "Bootstrap with ASP.NET";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /> -->

</head>
<body>

   @RenderBody()

 <!--        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script> -->
<footer>
    Get my dick mother fuck...
</footer>
</body>
</html>