@page
@using MyApp.Namespace
@model MyApp.Namespace.EmpresaModel
@{
    ViewData["Title"] = "Supplier Sign up";   
    Layout = "_Layout"; 
 }

<div>
    <h1> Supplier Sign up  </h1>
    @Model._suppluer.sRazaoSocial


    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

    <div class="jumbotron">
        <h1>Using the jumbotron style</h1>
        <p>
            <a class="btn btn-primary btn-lg" role="button">Stateful button</a>
        </p>
    </div>

        


    <div method="post">
        <div asp-validation-summary="All"></div>
        <input asp-for="_suppluer.Id" type="hidden" />
        <div>
            <label asp-for="_suppluer.sRazaoSocial"></label>
            <div>
                <input asp-for="_suppluer.sCnpjCpf" />
                <span asp-validation-for="_suppluer.sCnpjCpf" ></span>
            </div>
        </div>
    
        <div>
            <button type="submit">Sign up</button>
        </div>
    </div>

</div>